
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 108rem;
}.android-small-11-WQA {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-b7va-qhL {
    flex-shrink: 0;
    margin: 3.6rem 18.8rem 0rem 0rem;
    width: 18.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-tde2-MQn {
      box-sizing: border-box;
      padding: 0rem 1.5rem 26.1rem 4.3rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .image-62-Gne {
        margin: 0rem 9.9rem 13.16rem 0rem;
        width: 3rem;
        height: 1.44rem;
        position: relative;
        background-size: 105.882% 232.258%;
        background-position: -0.0882rem -0.9755rem;
        background-image: url('REPLACE_IMAGE:ad49bd4f30f5817494b2ae1e24c8733f3fa14d99');
        flex-shrink: 0;
      }
      .captura-de-pantalla-2023-11-17-a-las-44007-am-4-LXc {

        &:before {
          z-index: -1;
          background-image: url('REPLACE_IMAGE:eac3e898d27cf4f89c673e9632d85b3426b88cac');
          background-repeat: round;
          transform: matrix(-0.9313596188, 0, -0, -1.0173971027, 2.0725161019, 0.1817661403);
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;

        }
        height: 3.9rem;
        position: relative;
        overflow: hidden;
        z-index: 0;
        border-radius: 0.7rem;
        flex-shrink: 0;
        margin-left: 8.3rem;
        width: 4.6rem;
      }
    }
    .captura-de-pantalla-2023-11-17-a-las-44007-am-2-Lvv {
      background-position: -2.4744rem -1.0963rem;
      background-image: url('REPLACE_IMAGE:eac3e898d27cf4f89c673e9632d85b3426b88cac');
      border-radius: 0.7rem;
      flex-shrink: 0;
      width: 18.7rem;
      height: 22.3rem;
      position: relative;
      background-size: 114.552% 106.312%;
    }
  }
  .auto-group-vxrq-RBg {
    margin: 2.9rem 14.3rem 0rem 0rem;
    width: 33.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-z9ez-LpS {
      box-sizing: border-box;
      padding: 0rem 6.1rem 2rem 6.15rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-50-GCJ {
        margin: 0rem 0rem 2.1rem 0.25rem;
        width: calc(100% - 0.25rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .tunebeat-logo-1-bVU {
          flex-shrink: 0;
          margin-right: 0.0094rem;
          width: 11.4906rem;
          height: 9.3rem;
          position: relative;
          background-size: 174.056% 215.054%;
          background-position: -4.2547rem -3.7rem;
          background-image: url('REPLACE_IMAGE:599f4ab6d7558278d3e9587e8b57914013c7654f');
        }
        .tunebeat-UpA {
          margin-top: 0.8rem;
          font-size: 2rem;
          font-family: Quicksand, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
        }
      }
      .inicia-sesin-para-continuar-PRL {
        margin-right: 0.95rem;
        color: #000000;
        white-space: nowrap;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.25;
      }
    }
    .auto-group-ufai-6Kk {
      padding: 1.1rem 0.5rem 1.2rem 1rem;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      box-sizing: border-box;
      width: 100%;

      .email-QrE {
        line-height: 1.25;
        color: #333333;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 26.5rem;
        font-size: 1.1rem;
        font-weight: 700;
      }
      .image-51-MFg {
        flex-shrink: 0;
        width: 2.3rem;
        height: 1.6rem;
        position: relative;
        background-size: 117.391% 168.75%;
        background-position: -0.2rem -0.55rem;
        background-image: url('REPLACE_IMAGE:0739efc31c2c9f7419d102e842feeddb1a37730f');
        border-radius: 0.1rem;
      }
    }
    .auto-group-dcf4-RWS {
      padding: 1.1rem 0.8rem 1.2rem 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      border-radius: 0.5rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .contrasea-koc {
        flex-shrink: 0;
        margin-right: 23.6rem;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.25;
        color: #333333;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .image-60-VmC {
        flex-shrink: 0;
        width: 1.6rem;
        height: 1.6rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-va5q-cL2 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .captura-de-pantalla-2023-11-17-a-las-44007-am-1-mCv {
      height: 26.3rem;
      position: relative;
      background-size: 110.83% 105.231%;
      background-position: -2.491rem -0.8649rem;
      background-image: url('REPLACE_IMAGE:eac3e898d27cf4f89c673e9632d85b3426b88cac');
      flex-shrink: 0;
      margin-bottom: 25.6rem;
      width: 23rem;
    }
    .captura-de-pantalla-2023-11-17-a-las-44007-am-3-EcJ {
      height: 18.6rem;
      position: relative;
      overflow: hidden;
      z-index: 0;
      border-radius: 0.7rem;
      flex-shrink: 0;
      width: 17.6rem;

      &:before {
        z-index: -1;
        background-image: url('REPLACE_IMAGE:eac3e898d27cf4f89c673e9632d85b3426b88cac');
        background-repeat: round;
        transform: matrix(-0.9313596188, 0, -0, -1.0173971027, 7.9296268248, 0.8668846692);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;

      }
    }
  }
}
