
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 108rem;
}.android-small-17-xEn {
  padding: 14.7rem 33.1rem 18.3rem 33.2rem;
  width: 100%;
  height: 72rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;

  .group-10-gAn {
    position: relative;
    width: 100%;
    height: 100%;

    .tunebeat-logo-1-SQr {
      height: 31.5341rem;
      position: relative;
      left: 0;
      top: 0;
      background-size: 174.056% 220.994%;
      background-position: -15.4407rem -13.0666rem;
      background-image: url('REPLACE_IMAGE:599f4ab6d7558278d3e9587e8b57914013c7654f');
      width: 41.7rem;
    }
    .tunebeat-Xx6 {
      text-align: center;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      height: 7.5rem;
      position: absolute;
      left: 7.1rem;
      top: 31.5rem;
      color: #000000;
      width: 27.4rem;
      font-size: 6rem;
      font-weight: 700;
      line-height: 1.25;
    }
  }
}
