
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 108rem;
}.android-small-14-yd4 {
  width: 100%;
  height: 72rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .android-small-19-KS2 {
    padding-top: 1.4rem;
    position: relative;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;

    .auto-group-pu8a-FKg {
      margin: 0rem 1.2rem 1rem 1.7rem;
      width: calc(100% - 2.9rem);
      height: 60.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-7uca-ASe {
        box-sizing: border-box;
        padding: 0.2rem 1.8rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-bgx4-u9L {
          flex-shrink: 0;
          margin-right: 7.6rem;
          width: 20.7rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .group-51-r4a {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            align-items: center;

            .tunebeat-logo-1-cJe {
              background-size: 174.056% 215.054%;
              background-position: -4.2547rem -3.7rem;
              background-image: url('REPLACE_IMAGE:599f4ab6d7558278d3e9587e8b57914013c7654f');
              flex-shrink: 0;
              margin-right: 0.0094rem;
              width: 11.4906rem;
              height: 9.3rem;
              position: relative;
            }
            .tunebeat-WQ2 {
              line-height: 1.25;
              color: #000000;
              white-space: nowrap;
              margin-top: 0.8rem;
              text-align: center;
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
            }
          }
          .auto-group-wgdg-1bg {
            padding-top: 1.8rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-vvjq-x18 {
              width: calc(100% - 11.9rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 11.9rem 1.711rem 0rem;

              .image-138-stn {
                width: 3.6rem;
                height: 3.9886rem;
                position: relative;
                background-size: 145.455% 131.282%;
                background-position: -0.8182rem -0.5932rem;
                background-image: url('REPLACE_IMAGE:8576e7a84d6f791e97180b8ab9837f91142538e7');
                flex-shrink: 0;
                margin-right: 1.4rem;
              }
              .inicio-mzA {
                color: #000000;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.1114rem;
                font-size: 1.5rem;
                font-weight: 700;
                text-align: center;
                line-height: 1.25;
              }
            }
            .biblioteca-Hhc {
              width: 100%;
              font-weight: 700;
              line-height: 1.25;
              color: #ef5466;
              font-family: Quicksand, 'Source Sans Pro';
              margin-bottom: 2.7rem;
              text-align: center;
              font-size: 2rem;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .group-103-cE6 {
              margin: 0rem 8.6rem 0.8rem 0.3rem;
              width: calc(100% - 8.9rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .lupa-2-wnA {
                flex-shrink: 0;
                margin-right: 0.2rem;
                width: 3.6rem;
                height: 3.5rem;
                object-fit: cover;
                vertical-align: top;
              }
              .bsquedas-Un6 {
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.25;
                color: #000000;
              }
            }
            .auto-group-udqc-p5G {
              margin: 0rem 10.7rem 1.6rem 0rem;
              width: calc(100% - 10.7rem);
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .mask-group-LpJ {
                margin-right: 0.8rem;
                width: 3.6rem;
                height: 3.6rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .artistas-5Wz {
                font-size: 1.5rem;
                line-height: 1.25;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                text-align: center;
                font-weight: 700;
                color: #000000;
              }
            }
            .group-81-D7Q {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 1.7rem 1.236rem 0rem;
              width: calc(100% - 1.7rem);

              .image-20-wp6 {
                margin-right: 0.5rem;
                width: 3.6rem;
                height: 3.0638rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .seleccionado-para-ti-Hsx {
                line-height: 1.25;
                color: #000000;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.3638rem;
              }
            }
            .auto-group-fmgv-24r {
              flex-shrink: 0;
              margin: 0rem 11.5rem 0rem 0.3rem;
              width: calc(100% - 11.8rem);
              display: flex;
              align-items: center;

              .mask-group-kFk {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.5rem;
                width: 3.2rem;
                height: 3.1rem;
                position: relative;
                object-fit: contain;
              }
              .ajustes-gv6 {
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.25;
                color: #9c85cc;
              }
            }
          }
        }
        .auto-group-klvn-ozi {
          width: 48.1rem;
          height: 60.1rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 0.2rem;

          .rectangle-28-JRg {
            background-color: #ffffff;
            border-radius: 0.5rem;
            width: 48rem;
            height: 60.1rem;
            position: absolute;
            left: 0;
            top: 0;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          }
          .ajustes-otE {
            width: 7rem;
            font-size: 2rem;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 700;
            color: #9c85cc;
            height: 2.5rem;
            position: absolute;
            left: 20.5rem;
            top: 0.7rem;
            text-align: center;
          }
          .activa-esta-opcin-para-visualizar-contenido-explicito-Kbg {
            width: 20.6rem;
            line-height: 1.25;
            white-space: nowrap;
            color: #bcbcbc;
            font-family: Quicksand, 'Source Sans Pro';
            height: 1rem;
            position: absolute;
            left: 2rem;
            top: 20.7rem;
            font-size: 0.8rem;
            font-weight: 700;
          }
          .cambia-la-apariencia-de-tunebeat-pHY {
            position: absolute;
            font-size: 0.8rem;
            color: #bcbcbc;
            white-space: nowrap;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            width: 13.3rem;
            height: 1rem;
            left: 2rem;
            top: 28.6rem;
            font-weight: 700;
          }
          .email-j9c {
            height: 1.3rem;
            left: 2rem;
            color: #000000;
            font-weight: 700;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            width: 2.7rem;
            position: absolute;
            top: 11.3rem;
            font-size: 1rem;
          }
          .preferencias-de-contenido-3vz {
            position: absolute;
            left: 2rem;
            font-size: 2rem;
            line-height: 1.25;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            width: 25.4rem;
            height: 2.5rem;
            white-space: nowrap;
            top: 15.6rem;
            font-weight: 700;
          }
          .permitir-la-bsqueda-de-contenido-ecplicito-ZPY {
            width: 21rem;
            position: absolute;
            top: 18.9rem;
            font-weight: 700;
            line-height: 1.25;
            white-space: nowrap;
            height: 1.3rem;
            left: 2rem;
            font-size: 1rem;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
          }
          .temas-fSa {
            position: absolute;
            top: 26.9rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.25;
            white-space: nowrap;
            height: 1.3rem;
            left: 2rem;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            width: 3.2rem;
          }
          .emmanuelgmailcom-Bfp {
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            width: 11.1rem;
            top: 12.9rem;
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
            height: 1.3rem;
            position: absolute;
            left: 2rem;
            color: #bcbcbc;
            white-space: nowrap;
          }
          .tema-claro-hPG {
            white-space: nowrap;
            left: 1.9rem;
            top: 31.5rem;
            color: #000000;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            width: 5.4rem;
            height: 1.3rem;
            position: absolute;
          }
          .tema-oscuro-DcW {
            font-size: 1rem;
            font-weight: 700;
            color: #000000;
            height: 1.3rem;
            top: 30.2rem;
            left: 1.9rem;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.2rem;
            position: absolute;
          }
          .predeterminado-del-sistema-w2i {
            left: 2rem;
            top: 32.9rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
            white-space: nowrap;
            width: 13.7rem;
            height: 1.3rem;
            position: absolute;
            font-family: Quicksand, 'Source Sans Pro';
          }
          .group-48-EnW {
            width: 3.4rem;
            height: 1.7rem;
            position: absolute;
            left: 40.8rem;
            top: 20.4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .cuenta-Zpn {
            left: 2.1rem;
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
            width: 6.9rem;
            position: absolute;
            top: 7.9rem;
            text-align: center;
            font-size: 2rem;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.5rem;
          }
          .line-4-Uwk {
            width: 42rem;
            height: 0.1rem;
            position: absolute;
            left: 2rem;
            top: 10.3953rem;
            background-color: #c6c6c6;
          }
          .line-5-zQJ {
            top: 17.9rem;
            background-color: #c6c6c6;
            width: 42rem;
            height: 0.1rem;
            position: absolute;
            left: 2rem;
          }
          .preferencias-del-sistema-uXG {
            width: 23.8rem;
            line-height: 1.25;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            height: 2.5rem;
            position: absolute;
            left: 2.1rem;
            top: 23.5rem;
            font-size: 2rem;
            font-weight: 700;
            white-space: nowrap;
          }
          .line-6-PxE {
            top: 25.9rem;
            background-color: #c6c6c6;
            width: 42rem;
            height: 0.1rem;
            position: absolute;
            left: 2rem;
          }
          .item-11111-YKL {
            height: 1rem;
            position: absolute;
            top: 41.3rem;
            font-size: 0.8rem;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            width: 2.2rem;
            left: 2rem;
            font-weight: 700;
            color: #bcbcbc;
            white-space: nowrap;
          }
          .versin-FUe {
            color: #000000;
            width: 3.7rem;
            height: 1.3rem;
            position: absolute;
            top: 39.6rem;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            left: 1.9rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.25;
          }
          .importante-para-ti-y-para-nosotros-mSz {
            width: 13.7rem;
            left: 1.9rem;
            top: 47.5rem;
            line-height: 1.25;
            white-space: nowrap;
            height: 1rem;
            position: absolute;
            font-size: 0.8rem;
            font-weight: 700;
            color: #bcbcbc;
            font-family: Quicksand, 'Source Sans Pro';
          }
          .poltica-de-privacidad-5Tg {
            width: 10.5rem;
            height: 1.3rem;
            left: 1.9rem;
            top: 45.8rem;
            font-size: 1rem;
            font-weight: 700;
            color: #000000;
            position: absolute;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
          }
          .obtn-ayuda-de-nosotros-y-de-la-comunidad-zae {
            font-family: Quicksand, 'Source Sans Pro';
            position: absolute;
            left: 1.9rem;
            line-height: 1.25;
            color: #bcbcbc;
            font-weight: 700;
            white-space: nowrap;
            width: 17.3rem;
            height: 1rem;
            top: 50.6rem;
            font-size: 0.8rem;
          }
          .ayuda-tvv {
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            height: 1.3rem;
            position: absolute;
            top: 48.9rem;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.25;
            width: 3.1rem;
            left: 1.9rem;
            white-space: nowrap;
          }
          .todo-eso-que-debes-saber-p3t {
            height: 1rem;
            left: 1.9rem;
            top: 44.4rem;
            font-weight: 700;
            line-height: 1.25;
            color: #bcbcbc;
            white-space: nowrap;
            width: 10.2rem;
            position: absolute;
            font-size: 0.8rem;
            font-family: Quicksand, 'Source Sans Pro';
          }
          .trminos-y-condiciones-jAr {
            font-weight: 700;
            line-height: 1.25;
            left: 1.9rem;
            font-size: 1rem;
            position: absolute;
            top: 42.7rem;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            width: 11.2rem;
            height: 1.3rem;
          }
          .acerca-de-RJa {
            width: 9.7rem;
            height: 2.5rem;
            position: absolute;
            left: 2rem;
            color: #000000;
            white-space: nowrap;
            top: 35.7rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
          }
          .line-7-9Ea {
            width: 42rem;
            height: 0.1rem;
            position: absolute;
            left: 2rem;
            top: 38.6rem;
            background-color: #c6c6c6;
          }
          .cerrar-sesin-5e2 {
            width: 6.5rem;
            position: absolute;
            top: 56.6rem;
            font-weight: 700;
            line-height: 1.25;
            white-space: nowrap;
            height: 1.3rem;
            left: 1.9rem;
            font-size: 1rem;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
          }
          .otro-CCr {
            width: 4.5rem;
            height: 2.5rem;
            position: absolute;
            top: 53.2rem;
            font-family: Quicksand, 'Source Sans Pro';
            left: 1.9rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
            white-space: nowrap;
          }
          .line-8-iBC {
            left: 1.9rem;
            top: 56.1rem;
            background-color: #c6c6c6;
            width: 42rem;
            height: 0.1rem;
            position: absolute;
          }
          .ellipse-14-Fgv {
            width: 0.9rem;
            height: 0.9rem;
            position: absolute;
            left: 42.9rem;
            top: 30.4rem;
            box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #bcbcbc;
            border-radius: 0.45rem;
          }
          .ellipse-15-A3C {
            left: 42.9rem;
            top: 31.7rem;
            box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ef5466;
            border-radius: 0.45rem;
            width: 0.9rem;
            height: 0.9rem;
            position: absolute;
          }
          .ellipse-16-5AA {
            background-color: #bcbcbc;
            border-radius: 0.45rem;
            width: 0.9rem;
            height: 0.9rem;
            position: absolute;
            left: 42.9rem;
            top: 33.1rem;
            box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
          }
          .image-60-b8W {
            position: relative;
            left: 2.1rem;
            top: 1.5rem;
            background-size: 105.882% 232.258%;
            background-position: -0.0735rem -0.8129rem;
            background-image: url('REPLACE_IMAGE:ad49bd4f30f5817494b2ae1e24c8733f3fa14d99');
            width: 2.5rem;
            height: 1.2rem;
          }
          .image-14-6LA {
            width: 2.5rem;
            height: 2.7206rem;
            position: absolute;
            left: 45.6rem;
            top: 31.5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .auto-group-4dgw-d5C {
        height: 100%;
        background: linear-gradient(180deg, #ffffff -0%, #ef5466 69.79%);
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.8rem 0.6rem 3.7rem 1.4rem;
        width: 26.9rem;

        .estas-escuchando-jP8 {
          margin-bottom: 0.6rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
        }
        .image-153-Tpv {
          margin: 0rem 0rem 0.4rem 0.6rem;
          width: 22.9rem;
          height: 22.9rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
        .auto-group-8rmu-n6W {
          margin: 0rem 1.4rem 1.4rem 0.6rem;
          width: calc(100% - 2rem);
          height: 5rem;
          position: relative;

          .mask-group-6N6 {
            top: 2rem;
            object-fit: contain;
            vertical-align: top;
            width: 3rem;
            height: 3rem;
            position: absolute;
            left: 19.9rem;
          }
          .travis-scott-RfG {
            width: 5.8rem;
            position: absolute;
            font-weight: 700;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.3rem;
            left: 0;
            top: 2.8rem;
            font-size: 1rem;
            line-height: 1.25;
            color: #ffffff;
          }
          .calling-spider-man-XTQ {
            height: 2.5rem;
            left: 0;
            top: 0;
            width: 20rem;
            position: absolute;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.25;
            color: #ffffff;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .acerca-del-artista-qiz {
          margin: 0rem 0rem 0.5rem 0.6rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-fxfq-mMk {
          width: calc(100% - 0.6rem);
          height: 11.7rem;
          display: flex;
          align-items: center;
          margin: 0rem 0rem 1rem 0.6rem;

          .image-152-VoY {
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 11.5rem;
            height: 11.7rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 11.4rem;
          }
          .auto-group-b49y-Em8 {
            flex-shrink: 0;
            margin: 1.4rem 0rem 1.7rem 0rem;
            height: calc(100% - 3.1rem);
            display: flex;
            flex-direction: column;

            .metro-boomin-NcS {
              color: #ffffff;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.4rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.25;
            }
            .auto-group-x1aa-7K8 {
              margin-left: 0.3rem;
              width: 11.8rem;
              height: 6.3rem;
              position: relative;
              flex-shrink: 0;

              .group-78-3yU {
                top: 4.7rem;
                font-size: 0.6rem;
                line-height: 1.25;
                display: flex;
                width: 4.6rem;
                left: 7.2rem;
                font-weight: 700;
                color: #ef5466;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                background-color: #ffffff;
                border-radius: 0.5rem;
                position: absolute;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                height: 1.5rem;
              }
              .oyentes-mensuales-6051306-seguidores-uEz {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 1rem;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
                width: 9.3rem;
                height: 6.3rem;
                font-weight: 700;
                line-height: 1.25;
              }
            }
          }
        }
        .leland-tyler-wayne-conocido-profesionalmente-como-metro-boomin-es-un-rapero-productor-ejecutivo-de-discos-compositor-y-dj-estadounidense-nZg {
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          margin: 0rem 0rem 1.5rem 0.6rem;
          max-width: 23.5rem;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.25;
        }
        .ms-informacin-Rce {
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 0.6rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
        }
      }
    }
    .auto-group-udpn-Huk {
      width: 100%;
      height: 9rem;
      display: flex;
      align-items: center;
      background: linear-gradient(180deg, #ef5466 -0%, #9c85cc 140.56%);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 1.2rem 0rem 1.5rem;

      .image-148-yXg {
        height: 6.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0rem 0.8rem 0.7rem 0rem;
        width: 6rem;
      }
      .auto-group-5whg-UDY {
        margin: 2.5rem 2.4rem 2.9rem 0rem;
        width: 19.3rem;
        height: calc(100% - 5.4rem);
        flex-shrink: 0;

        .calling-spider-man-across-NJv {
          width: 100%;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
        }
        .metro-boomin-swae-lee-nav-a-boogie-with-da-to4 {
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 0.8rem;
          font-weight: 700;
          line-height: 1.25;
        }
      }
      .mask-group-ov2 {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 6rem 1rem 0rem;
      }
      .auto-group-r3hc-vDx {
        width: 30rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 18rem;

        .group-83-Tjg {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.6rem 1.5rem 0.5rem;
          width: calc(100% - 1.1rem);

          .mask-group-zUi {
            margin-right: 4rem;
            width: 3rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .mask-group-jSJ {
            margin-right: 1.9416rem;
            width: 2.9584rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .mask-group-sYW {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.5rem;
            width: 5rem;
            height: 5rem;
          }
          .mask-group-1ei {
            width: 2.9584rem;
            height: 3rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4.0416rem;
          }
          .mask-group-A1p {
            flex-shrink: 0;
            margin-top: 0.1rem;
            width: 2.5rem;
            height: 2.5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .group-70-Vpn {
          width: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-45zz-FZ4 {
            width: 30rem;
            height: 0.7rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-8s4r-12S {
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: 0.1rem;

            .item-1-29-wgn {
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 0.7838rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
              margin-right: 26.8rem;
            }
            .item-3-39-sKY {
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 0.7838rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
              font-family: Quicksand, 'Source Sans Pro';
            }
          }
        }
      }
      .mask-group-nxJ {
        flex-shrink: 0;
        margin: 0rem 3rem 0.6rem 0rem;
        width: 2.1rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
      .group-72-j6r {
        height: calc(100% - 5.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 2.2rem 2.6rem 3rem 0rem;

        .mask-group-4ev {
          vertical-align: top;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
        }
        .auto-group-e7aj-Dni {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          width: 6.1rem;
          height: 0.6rem;
        }
      }
      .mask-group-Mtv {
        margin-bottom: 0.6rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
