
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 108rem;
}.android-small-19-Txv {
  align-items: center;
  flex-direction: column;
  padding-top: 1.4rem;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;

  .auto-group-pysc-c58 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 1.2rem 1rem 1.7rem;
    width: calc(100% - 2.9rem);
    height: 60.6rem;

    .auto-group-egok-itr {
      box-sizing: border-box;
      padding: 0.1rem 1.9rem 0.1rem 0rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-mabc-f3Q {
        margin: 0.1rem 7.6rem 0rem 0rem;
        width: 20.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-51-PVC {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .tunebeat-logo-1-kae {
            background-size: 174.056% 215.054%;
            background-position: -4.2547rem -3.7rem;
            background-image: url('REPLACE_IMAGE:599f4ab6d7558278d3e9587e8b57914013c7654f');
            flex-shrink: 0;
            margin-right: 0.0094rem;
            width: 11.4906rem;
            height: 9.3rem;
            position: relative;
          }
          .tunebeat-2o4 {
            font-family: Quicksand, 'Source Sans Pro';
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.8rem;
            text-align: center;
            font-size: 2rem;
          }
        }
        .auto-group-df6a-kj4 {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 1.8rem;
          width: 100%;
          display: flex;

          .auto-group-5pre-VAr {
            width: calc(100% - 11.9rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 11.9rem 1.711rem 0rem;

            .image-138-pU2 {
              background-position: -0.8182rem -0.5932rem;
              background-image: url('REPLACE_IMAGE:8576e7a84d6f791e97180b8ab9837f91142538e7');
              flex-shrink: 0;
              margin-right: 1.4rem;
              width: 3.6rem;
              height: 3.9886rem;
              position: relative;
              background-size: 145.455% 131.282%;
            }
            .inicio-KQn {
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.25;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.1114rem;
              text-align: center;
            }
          }
          .biblioteca-F3Y {
            line-height: 1.25;
            color: #ef5466;
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2.7rem;
            width: 100%;
            font-weight: 700;
            white-space: nowrap;
            text-align: center;
            font-size: 2rem;
          }
          .group-103-AwC {
            width: calc(100% - 8.9rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 8.6rem 0.8rem 0.3rem;

            .lupa-2-VyU {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.2rem;
              width: 3.6rem;
              height: 3.5rem;
              object-fit: cover;
            }
            .bsquedas-SNv {
              line-height: 1.25;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 700;
            }
          }
          .auto-group-ya9p-NnN {
            margin: 0rem 10.7rem 1.6rem 0rem;
            width: calc(100% - 10.7rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .mask-group-JAE {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 3.6rem;
              height: 3.6rem;
            }
            .artistas-2rv {
              line-height: 1.25;
              color: #9c85cc;
              font-family: Quicksand, 'Source Sans Pro';
              margin-bottom: 0.2rem;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 700;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-81-xka {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 1.7rem 1.436rem 0rem;
            width: calc(100% - 1.7rem);
            display: flex;

            .image-20-JJe {
              width: 3.6rem;
              height: 3.0638rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.5rem;
            }
            .seleccionado-para-ti-qpN {
              font-family: Quicksand, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.3638rem;
              text-align: center;
              font-weight: 700;
              line-height: 1.25;
              font-size: 1.5rem;
              color: #000000;
              white-space: nowrap;
            }
          }
          .group-82-a1G {
            flex-shrink: 0;
            margin: 0rem 11.5rem 0rem 0.3rem;
            width: calc(100% - 11.8rem);
            display: flex;
            align-items: center;

            .image-58-Wfc {
              margin-right: 0.5rem;
              width: 3.2rem;
              height: 3.1rem;
              position: relative;
              background-size: 131.51% 135.753%;
              background-position: -0.4917rem -0.5333rem;
              background-image: url('REPLACE_IMAGE:e92ca0bfb53a867241dab7b6ee3993ed89e0ee19');
              flex-shrink: 0;
            }
            .ajustes-pAW {
              margin-bottom: 0.4rem;
              text-align: center;
              line-height: 1.25;
              color: #000000;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1.5rem;
              font-weight: 700;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-1zwu-Y6W {
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 48rem;
        display: flex;
        background-color: #ffffff;
        padding: 3.5rem 3.3rem 3rem 2.3rem;
        align-items: center;

        .auto-group-ag8j-Fmc {
          width: calc(100% - 0.3rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0.3rem 2rem 0rem;

          .tus-artistas-favoritos-NbL {
            font-family: Quicksand, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 18.5rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.25;
            color: #9c85cc;
            text-align: center;
            white-space: nowrap;
          }
          .ver-ms-Vvr {
            font-size: 0.7rem;
            color: #9c85cc;
            margin-bottom: 0.3rem;
            text-align: center;
            font-weight: 700;
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-4cgr-RZc {
          display: flex;
          column-gap: 5.4rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 3.7rem 1.1rem;
          height: 13.9rem;

          .group-89-Lga {
            background-image: url('REPLACE_IMAGE:3adf842f1539d4105768acaac08f0c9be3505f99');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 0.5rem 0.731rem 0.5rem;
            height: 100%;
            border-radius: 0.5rem;
            background-position: center;
            width: 10.1rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .artista-sRc {
              line-height: 1.25;
              color: #ffffff;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 11.1rem;
              font-size: 0.5rem;
              font-weight: 700;
            }
            .auto-group-ctqa-DVU {
              display: flex;
              align-items: center;
              width: 100%;

              .savage-mmt {
                margin: 0rem 4.1rem 0.069rem 0rem;
                font-size: 0.8rem;
                font-weight: 700;
                line-height: 1.25;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .image-79-6JN {
                background-size: 146.154% 147.482%;
                background-position: -0.25rem -0.2577rem;
                background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.1rem;
                height: 1.0692rem;
                position: relative;
              }
            }
          }
          .group-90-JvE {
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 0.5rem;
            padding: 0.4rem 0.5rem 0.731rem 0.5rem;
            background-size: 100% 100%;
            height: 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-image: url('REPLACE_IMAGE:1f3154e72c1c52e1282a805774bad45ca06ef167');
            flex-shrink: 0;
            box-sizing: border-box;
            width: 10.1rem;

            .artista-FKg {
              margin-bottom: 11rem;
              font-size: 0.5rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-uygv-BUE {
              width: 100%;
              display: flex;
              align-items: center;

              .the-weeknd-YJn {
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 3.2rem 0.069rem 0rem;
                font-size: 0.8rem;
                font-weight: 700;
                line-height: 1.25;
                color: #ffffff;
              }
              .image-81-GVg {
                width: 1.1rem;
                height: 1.0692rem;
                position: relative;
                background-size: 146.154% 147.482%;
                background-position: -0.25rem -0.2577rem;
                background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
                border-radius: 0.5rem;
                flex-shrink: 0;
              }
            }
          }
          .group-91-7mC {
            width: 10.3rem;
            height: 100%;
            position: relative;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .image-82-sVU {
              top: 0;
              border-radius: 0.5rem;
              width: 10.1rem;
              height: 13.9rem;
              position: absolute;
              left: 0;
            }
            .image-85-1ra {
              width: 10.3rem;
              height: 13.9rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
            }
            .hotel-pools-kpA {
              height: 1rem;
              position: absolute;
              left: 0.5rem;
              line-height: 1.25;
              color: #ffffff;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              width: 4.4rem;
              top: 12.1rem;
              font-size: 0.8rem;
              font-weight: 700;
            }
            .artista-4pr {
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              width: 1.7rem;
              height: 0.7rem;
              left: 0.5rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
              position: absolute;
              top: 0.5rem;
              font-size: 0.5rem;
            }
            .image-83-nF4 {
              width: 1.1rem;
              height: 1.0692rem;
              position: relative;
              left: 8.5rem;
              background-position: -0.25rem -0.2577rem;
              background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
              border-radius: 0.5rem;
              top: 12.1rem;
              background-size: 146.154% 147.482%;
            }
            .image-97-sXQ {
              background-size: 146.154% 147.482%;
              border-radius: 0.5rem;
              height: 1.0692rem;
              position: relative;
              top: 12.1rem;
              background-position: -0.25rem -0.2577rem;
              background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
              width: 1.1rem;
              left: 8.5rem;
            }
          }
        }
        .auto-group-9sqq-MxN {
          flex-shrink: 0;
          margin: 0rem 0rem 3.7rem 0.9rem;
          height: 13.9rem;
          display: flex;
          align-items: center;

          .group-92-J6v {
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 5.4rem;
            width: 10.1rem;
            height: 100%;
            position: relative;

            .image-87-EmG {
              top: 0;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              border-radius: 0.5rem;
              width: 9.6236rem;
              height: 13.9rem;
              position: absolute;
              left: 0.4764rem;
            }
            .image-104-xhG {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
              width: 10.1rem;
              height: 13.9rem;
            }
            .twenty-one-pilots-WCz {
              font-weight: 700;
              line-height: 1.25;
              white-space: nowrap;
              width: 6.9rem;
              height: 1rem;
              top: 12.1rem;
              color: #ffffff;
              font-family: Quicksand, 'Source Sans Pro';
              position: absolute;
              left: 0.5rem;
              font-size: 0.8rem;
            }
            .artista-Dt6 {
              top: 0.3rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
              width: 1.7rem;
              height: 0.7rem;
              left: 0.5rem;
              white-space: nowrap;
              position: absolute;
              font-size: 0.5rem;
              font-family: Quicksand, 'Source Sans Pro';
            }
            .image-88-Xdt {
              background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
              background-size: 146.154% 147.482%;
              height: 1.0692rem;
              position: relative;
              left: 8.5755rem;
              top: 12.1rem;
              background-position: -0.2382rem -0.2577rem;
              border-radius: 0.5rem;
              width: 1.0481rem;
            }
          }
          .group-93-Pg6 {
            box-sizing: border-box;
            height: 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-size: 100% 100%;
            background-position: center;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 5.3rem;
            padding: 0.4rem 0.6rem 0.731rem 0.5rem;
            width: 10.2rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:a56a27e5cc1c425799e7e193efc739572407ae15');

            .artista-7rz {
              margin-bottom: 11rem;
              line-height: 1.25;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 0.5rem;
              font-weight: 700;
              color: #ffffff;
              align-items: baseline;

              .artista-7rz-sub-0 {
                font-weight: 700;
                line-height: 1.25;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
                font-size: 0.5rem;
              }
              .artista-7rz-sub-1 {
                font-size: 0.5rem;
                font-weight: 700;
                line-height: 1.25;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
              }
            }
            .auto-group-auiz-GdQ {
              width: 100%;
              display: flex;
              align-items: center;

              .franz-ferdinand-dD4 {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 1.7rem 0.069rem 0rem;
                font-size: 0.8rem;
                font-weight: 700;
                line-height: 1.25;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
              }
              .image-89-9x6 {
                background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 1.1rem;
                height: 1.0692rem;
                position: relative;
                background-size: 146.154% 147.482%;
                background-position: -0.25rem -0.2577rem;
              }
            }
          }
          .group-94-Qd8 {
            width: 10.1rem;
            height: 100%;
            position: relative;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .image-107-ZW2 {
              border-radius: 0.5rem;
              width: 10.1rem;
              height: 13.8rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .mac-miller-h6S {
              width: 3.9rem;
              height: 1rem;
              left: 0.5rem;
              font-size: 0.8rem;
              font-weight: 700;
              color: #ffffff;
              position: absolute;
              top: 12.1rem;
              line-height: 1.25;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
            }
            .artista-bhc {
              font-size: 0.5rem;
              font-weight: 700;
              color: #ffffff;
              height: 0.7rem;
              position: absolute;
              top: 0.4rem;
              line-height: 1.25;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              width: 1.7rem;
              left: 0.5rem;
            }
            .image-91-K7p {
              background-size: 146.154% 147.482%;
              background-position: -0.25rem -0.2577rem;
              background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
              border-radius: 0.5rem;
              width: 1.1rem;
              height: 1.0692rem;
              position: relative;
              left: 8.5rem;
              top: 12.1rem;
            }
          }
        }
        .auto-group-fzks-bLE {
          margin-left: 0.9rem;
          height: 13.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-95-LHp {
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:afc7cb729a429af556a1ab37b679fb5f454e7561');
            margin-right: 5.4rem;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 0.5rem;
            flex-shrink: 0;
            padding: 0.3rem 0.5rem 0.731rem 0.5rem;
            width: 10.1rem;
            height: 100%;

            .artista-s2r {
              margin-bottom: 11.1rem;
              font-size: 0.5rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-riae-ohC {
              width: 100%;
              display: flex;
              align-items: center;

              .drake-mP8 {
                margin: 0rem 5.6rem 0.069rem 0rem;
                font-size: 0.8rem;
                font-weight: 700;
                line-height: 1.25;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .image-100-6RQ {
                background-position: -0.25rem -0.2577rem;
                background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
                flex-shrink: 0;
                width: 1.1rem;
                height: 1.0692rem;
                position: relative;
                background-size: 146.154% 147.482%;
              }
            }
          }
          .group-96-kkr {
            background-image: url('REPLACE_IMAGE:70a6780d99407fb0b9d119484b546721289e2fae');
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 5.3rem;
            box-sizing: border-box;
            padding: 0.4rem 0.6rem 0.731rem 0.5rem;
            background-size: 100% 100%;
            background-position: center;
            width: 10.2rem;
            height: 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-repeat: no-repeat;

            .artista-Uwk {
              color: #ffffff;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 11rem;
              font-size: 0.5rem;
              font-weight: 700;
              line-height: 1.25;
            }
            .auto-group-jcwv-Rrz {
              width: 100%;
              display: flex;
              align-items: center;

              .doja-cat-azn {
                font-weight: 700;
                line-height: 1.25;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 4.6rem 0.069rem 0rem;
                font-size: 0.8rem;
              }
              .image-101-7jp {
                background-position: -0.25rem -0.2577rem;
                background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
                flex-shrink: 0;
                width: 1.1rem;
                height: 1.0692rem;
                position: relative;
                background-size: 146.154% 147.482%;
              }
            }
          }
          .group-97-Bza {
            width: 10.1rem;
            height: 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-position: center;
            background-image: url('REPLACE_IMAGE:d62afc9f0e52f048d9ad4f3d528b6b4debb98caa');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 0.5rem 0.731rem 0.5rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 0.5rem;

            .artista-Kaz {
              margin-bottom: 11.1rem;
              font-size: 0.5rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-dizx-GFL {
              width: 100%;
              display: flex;
              align-items: center;

              .mgmt-ECA {
                font-size: 0.8rem;
                font-weight: 700;
                line-height: 1.25;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 5.6rem 0.069rem 0rem;
              }
              .image-103-ZkE {
                width: 1.1rem;
                height: 1.0692rem;
                position: relative;
                background-size: 146.154% 147.482%;
                background-position: -0.25rem -0.2577rem;
                background-image: url('REPLACE_IMAGE:c48945f233b885a0f22c1233ccdea9a50d03221b');
                flex-shrink: 0;
              }
            }
          }
        }
      }
    }
    .auto-group-b43u-z4r {
      padding: 1.8rem 0.6rem 3.7rem 1.4rem;
      width: 26.9rem;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180deg, #ffffff -0%, #ef5466 69.79%);
      border-radius: 0.5rem;
      box-sizing: border-box;
      height: 100%;
      align-items: center;
      flex-shrink: 0;

      .estas-escuchando-hV4 {
        color: #000000;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 12.7rem 23.9rem 0rem;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.25;
      }
      .auto-group-hinv-DyC {
        margin: 0rem 1.6rem 1.4rem 0.6rem;
        width: calc(100% - 2.2rem);
        height: 5rem;
        position: relative;
        flex-shrink: 0;

        .group-106-ZGN {
          left: 19.7rem;
          top: 2rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 3rem;
          position: absolute;
        }
        .travis-scott-HiA {
          height: 1.3rem;
          left: 0;
          top: 2.8rem;
          font-size: 1rem;
          font-weight: 700;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.8rem;
          position: absolute;
          line-height: 1.25;
          color: #ffffff;
        }
        .calling-spider-man-cVY {
          width: 20rem;
          height: 2.5rem;
          font-weight: 700;
          line-height: 1.25;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          position: absolute;
          left: 0;
          top: 0;
          font-size: 2rem;
          white-space: nowrap;
        }
      }
      .acerca-del-artista-Wqp {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 11.5rem 1.9rem 0rem;
        font-size: 1.3rem;
        font-weight: 700;
      }
      .metro-boomin-dQe {
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 0.4rem 10.9rem;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.25;
      }
      .auto-group-dfnr-xSv {
        margin: 0rem 0rem 2.7rem 13.1rem;
        width: 11.8rem;
        height: 6.3rem;
        position: relative;
        flex-shrink: 0;

        .group-78-tbU {
          color: #ef5466;
          display: flex;
          justify-content: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 0.5rem;
          width: 4.6rem;
          position: absolute;
          left: 7.2rem;
          font-weight: 700;
          background-color: #ffffff;
          top: 4.7rem;
          font-size: 0.6rem;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.5rem;
          align-items: center;
        }
        .oyentes-mensuales-6051306-seguidores-jrz {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1rem;
          font-family: Quicksand, 'Source Sans Pro';
          width: 9.3rem;
          height: 6.3rem;
          color: #ffffff;
          font-weight: 700;
          line-height: 1.25;
        }
      }
      .leland-tyler-wayne-conocido-profesionalmente-como-metro-boomin-es-un-rapero-productor-ejecutivo-de-discos-compositor-y-dj-estadounidense-dxN {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0.2rem 1.5rem 0rem;
        max-width: 23.5rem;
        font-size: 1rem;
        font-weight: 700;
      }
      .ms-informacin-5pN {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.2rem;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
      }
    }
  }
  .auto-group-qdte-N2n {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #ef5466 -0%, #9c85cc 140.56%);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.8rem 1.2rem 0rem 1.5rem;
    width: 100%;
    height: 9rem;

    .image-148-fna {
      vertical-align: top;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 0rem 0.8rem 0.7rem 0rem;
      width: 6rem;
      height: 6.3rem;
      object-fit: cover;
    }
    .auto-group-vufg-ncJ {
      width: 19.3rem;
      height: calc(100% - 5.4rem);
      flex-shrink: 0;
      margin: 2.5rem 2.4rem 2.9rem 0rem;

      .calling-spider-man-across-uS2 {
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
      }
      .metro-boomin-swae-lee-nav-a-boogie-with-da-SRx {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
    .mask-group-xv6 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 6rem 1rem 0rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
    }
    .auto-group-beok-h6z {
      flex-shrink: 0;
      margin-right: 18rem;
      width: 30rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-83-3Ar {
        width: calc(100% - 1.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.6rem 1.5rem 0.5rem;

        .mask-group-m6r {
          width: 3rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4rem;
        }
        .mask-group-hmC {
          margin-right: 1.9416rem;
          width: 2.9584rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .mask-group-F22 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.5rem;
          width: 5rem;
          height: 5rem;
          position: relative;
        }
        .mask-group-apz {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.0416rem;
          width: 2.9584rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
        }
        .mask-group-dHU {
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 2.5rem;
          height: 2.5rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-70-ZS2 {
        width: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-m5pn-uVt {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 30rem;
          height: 0.7rem;
          position: relative;
        }
        .auto-group-ds98-eCa {
          margin-left: 0.1rem;
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item-1-29-PAA {
            font-size: 0.7838rem;
            font-family: Quicksand, 'Source Sans Pro';
            margin-right: 26.8rem;
            text-align: center;
            font-weight: 700;
            line-height: 1.25;
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-3-39-hwY {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 0.7838rem;
            font-weight: 700;
            line-height: 1.25;
            color: #ffffff;
            font-family: Quicksand, 'Source Sans Pro';
          }
        }
      }
    }
    .mask-group-daJ {
      width: 2.1rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 3rem 0.6rem 0rem;
    }
    .group-72-xca {
      align-items: center;
      flex-shrink: 0;
      margin: 2.2rem 2.6rem 3rem 0rem;
      height: calc(100% - 5.2rem);
      display: flex;

      .mask-group-6in {
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
      }
      .auto-group-hxjz-TJS {
        margin-bottom: 0.2rem;
        width: 6.1rem;
        height: 0.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .mask-group-Pht {
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
