
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 108rem;
}.android-small-18-FBp {
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  align-items: flex-end;
  display: flex;
  padding-top: 1.2rem;

  .auto-group-agre-Lyx {
    margin: 0rem 1.2rem 1rem 0rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .mask-group-4QA {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 115.9rem 16.3rem 0rem;
      width: 3.6rem;
      height: 3.5rem;
      position: relative;
      object-fit: contain;
    }
    .auto-group-nbke-N9x {
      margin: 0rem 7.6rem 20rem 0rem;
      width: 20.8rem;
      flex-shrink: 0;

      .group-51-5KG {
        margin: 0rem 0rem 1.8rem 0.1rem;
        width: calc(100% - 0.1rem);
        display: flex;
        align-items: center;

        .tunebeat-logo-1-boQ {
          position: relative;
          background-size: 174.056% 215.054%;
          background-position: -4.2547rem -3.7rem;
          background-image: url('REPLACE_IMAGE:599f4ab6d7558278d3e9587e8b57914013c7654f');
          flex-shrink: 0;
          margin-right: 0.0094rem;
          width: 11.4906rem;
          height: 9.3rem;
        }
        .tunebeat-gK4 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          flex-shrink: 0;
          margin-top: 0.8rem;
          text-align: center;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-kc4r-zKk {
        margin: 0rem 11.9rem 1.711rem 0.1rem;
        width: calc(100% - 12rem);
        display: flex;
        align-items: center;

        .image-138-uBp {
          height: 3.9886rem;
          position: relative;
          background-size: 145.455% 131.282%;
          background-position: -0.8182rem -0.5932rem;
          background-image: url('REPLACE_IMAGE:8576e7a84d6f791e97180b8ab9837f91142538e7');
          flex-shrink: 0;
          margin-right: 1.4rem;
          width: 3.6rem;
        }
        .inicio-Pcn {
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.1114rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .biblioteca-72z {
        white-space: nowrap;
        width: 100%;
        font-size: 2rem;
        line-height: 1.25;
        font-family: Quicksand, 'Source Sans Pro';
        margin-bottom: 2.4rem;
        text-align: center;
        font-weight: 700;
        color: #ef5466;
      }
      .group-102-E7c {
        width: calc(100% - 8.7rem);
        display: flex;
        align-items: center;
        margin: 0rem 8.3rem 1.3rem 0.4rem;

        .mask-group-xZQ {
          margin-right: 0.5rem;
          width: 3.6rem;
          height: 3.5rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .bsquedas-txr {
          color: #9c85cc;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.25;
        }
      }
      .group-80-EG2 {
        width: calc(100% - 11.1rem);
        display: flex;
        align-items: flex-end;
        margin: 0rem 10.7rem 2.1rem 0.4rem;

        .image-1-1-ZZC {
          margin-right: 0.5rem;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .artistas-6p2 {
          font-size: 1.5rem;
          line-height: 1.25;
          white-space: nowrap;
          font-family: Quicksand, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          text-align: center;
          font-weight: 700;
          color: #000000;
        }
      }
      .group-81-S7C {
        margin: 0rem 1.8rem 1.636rem 0rem;
        width: calc(100% - 1.8rem);
        display: flex;
        align-items: center;

        .image-20-mvA {
          margin-right: 0.5rem;
          width: 3.6rem;
          height: 3.0638rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .seleccionado-para-ti-iKc {
          font-family: Quicksand, 'Source Sans Pro';
          margin-bottom: 0.3638rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-104-qQE {
        width: calc(100% - 11.9rem);
        display: flex;
        align-items: center;
        margin: 0rem 11.5rem 0rem 0.4rem;

        .image-58-xze {
          position: relative;
          background-size: 131.51% 135.753%;
          background-position: -0.4917rem -0.5333rem;
          background-image: url('REPLACE_IMAGE:e92ca0bfb53a867241dab7b6ee3993ed89e0ee19');
          flex-shrink: 0;
          margin-right: 0.5rem;
          width: 3.2rem;
          height: 3.1rem;
        }
        .ajustes-GVY {
          line-height: 1.25;
          color: #000000;
          white-space: nowrap;
          font-size: 1.5rem;
          font-weight: 700;
          font-family: Quicksand, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          text-align: center;
        }
      }
    }
    .auto-group-z7fp-Ce6 {
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 0rem 1.9rem 0.5rem 0rem;
      width: 48rem;
      height: 60.3rem;
      position: relative;
      box-shadow: 0.4rem 0 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

      .auto-group-tepa-iMY {
        height: 2.2rem;
        position: absolute;
        left: 2.1rem;
        top: 1.45rem;
        display: flex;
        align-items: center;
        width: 10.4rem;

        .image-60-Eqg {
          background-image: url('REPLACE_IMAGE:ad49bd4f30f5817494b2ae1e24c8733f3fa14d99');
          flex-shrink: 0;
          margin: 0.3rem 2.3rem 0rem 0rem;
          width: 2.5rem;
          height: 1.2rem;
          position: relative;
          background-size: 105.882% 232.258%;
          background-position: -0.0735rem -0.8129rem;
        }
        .calling-XJz {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.25;
          color: #a09b9c;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
      }
      .resultados-principales-TiS {
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.9rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.25;
        color: #ef5466;
        width: 16.4rem;
        position: absolute;
        left: 2rem;
        top: 6.7rem;
        font-size: 1.5rem;
      }
      .canciones-ZWa {
        width: 7.4rem;
        left: 2rem;
        font-weight: 700;
        color: #ef5466;
        font-family: Quicksand, 'Source Sans Pro';
        height: 1.9rem;
        position: absolute;
        top: 25.7rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.25;
        white-space: nowrap;
      }
      .artistas-5E2 {
        font-family: Quicksand, 'Source Sans Pro';
        width: 5.6rem;
        position: absolute;
        text-align: center;
        font-size: 1.5rem;
        color: #ef5466;
        white-space: nowrap;
        height: 1.9rem;
        left: 2rem;
        top: 45.4rem;
        font-weight: 700;
        line-height: 1.25;
      }
      .auto-group-txk4-neE {
        top: 10.5rem;
        display: flex;
        align-items: center;
        width: 22.6rem;
        height: 6.3rem;
        position: absolute;
        left: 2.1rem;

        .image-6-7wQ {
          height: 6.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 0.95rem;
          width: 6rem;
        }
        .auto-group-xss2-3aA {
          margin: 1.3rem 0;
          width: 15.65rem;
          height: calc(100% - 2.6rem);
          flex-shrink: 0;

          .calling-aKC {
            font-family: Quicksand, 'Source Sans Pro';
            display: flex;
            align-items: baseline;
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
            line-height: 1.25;
            color: #ffffff;
            white-space: nowrap;

            .calling-aKC-sub-0 {
              font-family: Quicksand, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.25;
              color: #000000;
            }
            .calling-aKC-sub-1 {
              font-family: Quicksand, 'Source Sans Pro';
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.25;
              color: #ffffff;
            }
          }
          .metro-boomin-swae-lee-nav-iiE {
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.25;
            color: #c6c6c6;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
          }
        }
      }
      .auto-group-mbcv-qnr {
        display: flex;
        align-items: center;
        width: 17.5rem;
        height: 6.8rem;
        position: absolute;
        left: 2rem;
        top: 17.8rem;

        .image-15-yeA {
          vertical-align: top;
          border-radius: 3.85rem;
          flex-shrink: 0;
          margin-right: 1.2rem;
          width: 6.1rem;
          height: 6.8rem;
          object-fit: cover;
        }
        .auto-group-akop-KCE {
          margin: 1.5rem 0rem 1.6rem 0rem;
          width: 10.2rem;
          height: calc(100% - 3.1rem);
          flex-shrink: 0;

          .metro-boomin-Sne {
            font-family: Quicksand, 'Source Sans Pro';
            text-align: center;
            font-weight: 700;
            line-height: 1.25;
            color: #000000;
            margin-bottom: 0.5rem;
            width: 100%;
            font-size: 1.5rem;
            white-space: nowrap;
          }
          .artista-yXg {
            line-height: 1.25;
            color: #c6c6c6;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }
      .auto-group-m2ie-vC2 {
        height: 6.3rem;
        position: absolute;
        left: 2rem;
        top: 29.7rem;
        display: flex;
        align-items: center;
        width: 22.6rem;

        .image-62-RPg {
          margin-right: 0.95rem;
          width: 6rem;
          height: 6.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .auto-group-syan-KV4 {
          flex-shrink: 0;
          margin: 1.3rem 0;
          height: calc(100% - 2.6rem);
          display: flex;
          flex-direction: column;

          .auto-group-3h3g-fJ2 {
            width: 5.4rem;
            height: 1.9rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.5rem;

            .calling-Pzi {
              height: 1.9rem;
              font-weight: 700;
              color: #ffffff;
              position: absolute;
              left: 0;
              font-family: Quicksand, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;
              width: 5.4rem;
              top: 0;
              font-size: 1.5rem;
              line-height: 1.25;
              display: flex;
              text-align: center;

              .calling-Pzi-sub-0 {
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.25;
                color: #000000;
                font-family: Quicksand, 'Source Sans Pro';
              }
              .calling-Pzi-sub-1 {
                line-height: 1.25;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
                font-size: 1.5rem;
                font-weight: 700;
              }
            }
            .calling-XDk {
              line-height: 1.25;
              color: #ffffff;
              height: 1.9rem;
              position: absolute;
              font-family: Quicksand, 'Source Sans Pro';
              align-items: baseline;
              left: 0;
              text-align: center;
              width: 5.4rem;
              top: 0;
              white-space: nowrap;
              display: flex;
              font-size: 1.5rem;
              font-weight: 700;

              .calling-XDk-sub-0 {
                color: #000000;
                font-family: Quicksand, 'Source Sans Pro';
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.25;
              }
              .calling-XDk-sub-1 {
                font-weight: 700;
                line-height: 1.25;
                color: #ffffff;
                font-family: Quicksand, 'Source Sans Pro';
                font-size: 1.5rem;
              }
            }
          }
          .auto-group-pezw-sS2 {
            margin-left: 0.15rem;
            width: 15.5rem;
            height: 1.3rem;
            position: relative;
            flex-shrink: 0;

            .metro-boomin-swae-lee-nav-Qwk {
              white-space: nowrap;
              width: 15.5rem;
              position: absolute;
              text-align: center;
              font-weight: 700;
              font-family: Quicksand, 'Source Sans Pro';
              color: #c6c6c6;
              height: 1.3rem;
              left: 0;
              top: 0;
              font-size: 1rem;
              line-height: 1.25;
            }
            .metro-boomin-swae-lee-nav-8cr {
              font-size: 1rem;
              font-weight: 700;
              color: #c6c6c6;
              line-height: 1.25;
              font-family: Quicksand, 'Source Sans Pro';
              width: 15.5rem;
              height: 1.3rem;
              position: absolute;
              left: 0;
              top: 0;
              text-align: center;
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-wkqk-eLJ {
        height: 6.3rem;
        position: absolute;
        left: 2rem;
        top: 38rem;
        display: flex;
        align-items: center;
        width: 30.7rem;

        .image-111-ydU {
          margin-right: 1.2rem;
          width: 6rem;
          height: 6.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .auto-group-cgfc-V62 {
          flex-shrink: 0;
          margin: 1.3rem 0;
          width: 23.5rem;
          height: calc(100% - 2.6rem);

          .calling-for-you-feat-21-savage-nL2 {
            width: 100%;
            font-weight: 700;
            color: #000000;
            font-family: Quicksand, 'Source Sans Pro';
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
            line-height: 1.25;
            white-space: nowrap;
            text-align: center;
          }
          .drake-21-savage-qZC {
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.25;
            color: #c6c6c6;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
          }
        }
      }
      .line-4-LVx {
        width: 43.6998rem;
        height: 0.1rem;
        position: absolute;
        left: 2.3rem;
        top: 9.1rem;
        background-color: #c6c6c6;
      }
      .line-5-2ta {
        width: 43.6998rem;
        height: 0.1rem;
        position: absolute;
        left: 2rem;
        top: 28.3rem;
        background-color: #c6c6c6;
      }
      .line-6-LeN {
        top: 47.3rem;
        background-color: #c6c6c6;
        width: 43.6998rem;
        height: 0.1rem;
        position: absolute;
        left: 2rem;
      }
      .auto-group-6bsx-SxJ {
        align-items: center;
        width: 17.4rem;
        height: 6.1rem;
        position: absolute;
        left: 2rem;
        top: 48.1rem;
        display: flex;

        .image-112-ki6 {
          height: 6.1rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 3.85rem;
          flex-shrink: 0;
          margin-right: 1.2rem;
          width: 6rem;
        }
        .metro-boomin-Fuk {
          font-weight: 700;
          line-height: 1.25;
          color: #000000;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
        }
      }
    }
    .auto-group-weze-tC2 {
      box-sizing: border-box;
      width: 26.9rem;
      align-items: center;
      background: linear-gradient(180.02deg, #ffffff -0%, #ef5466 76.81%);
      border-radius: 0.5rem;
      margin-top: 0.2rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 1.8rem 0.6rem 3.7rem 1.4rem;

      .estas-escuchando-mFp {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 12.7rem 23.9rem 0rem;
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.25;
        color: #000000;
        font-family: Quicksand, 'Source Sans Pro';
      }
      .auto-group-rwsn-UR8 {
        margin: 0rem 1.4rem 2.3rem 0.6rem;
        width: calc(100% - 2rem);
        height: 4.1rem;
        position: relative;
        flex-shrink: 0;

        .mask-group-bVk {
          position: absolute;
          left: 19.9rem;
          top: 0.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 3rem;
        }
        .travis-scott-KwY {
          font-size: 1rem;
          line-height: 1.25;
          left: 0;
          top: 2.8rem;
          position: absolute;
          font-weight: 700;
          color: #ffffff;
          font-family: Quicksand, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.8rem;
          height: 1.3rem;
        }
        .calling-spider-man-Rza {
          color: #ffffff;
          white-space: nowrap;
          width: 20rem;
          position: absolute;
          left: 0;
          font-weight: 700;
          line-height: 1.25;
          height: 2.5rem;
          top: 0;
          font-size: 2rem;
          font-family: Quicksand, 'Source Sans Pro';
        }
      }
      .acerca-del-artista-YpJ {
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 11.5rem 1.9rem 0rem;
        font-size: 1.3rem;
        font-weight: 700;
      }
      .metro-boomin-4Xk {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 0.4rem 10.9rem;
      }
      .auto-group-q3hc-Pa2 {
        margin: 0rem 0rem 2.7rem 13.1rem;
        width: 11.8rem;
        height: 6.3rem;
        position: relative;
        flex-shrink: 0;

        .group-78-v4A {
          line-height: 1.25;
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          position: absolute;
          left: 7.2rem;
          top: 4.7rem;
          white-space: nowrap;
          font-size: 0.6rem;
          display: flex;
          justify-content: center;
          font-family: Quicksand, 'Source Sans Pro';
          align-items: center;
          width: 4.6rem;
          height: 1.5rem;
          font-weight: 700;
          color: #ef5466;
        }
        .oyentes-mensuales-6051306-seguidores-xWe {
          left: 0;
          top: 0;
          font-weight: 700;
          line-height: 1.25;
          font-family: Quicksand, 'Source Sans Pro';
          width: 9.3rem;
          height: 6.3rem;
          position: absolute;
          font-size: 1rem;
          color: #ffffff;
        }
      }
      .leland-tyler-wayne-conocido-profesionalmente-como-metro-boomin-es-un-rapero-productor-ejecutivo-de-discos-compositor-y-dj-estadounidense-rrv {
        margin: 0rem 0.2rem 1.5rem 0rem;
        max-width: 23.5rem;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .ms-informacin-Jiv {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.2rem;
      }
    }
  }
  .auto-group-otwn-PEa {
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #ef5466 -0%, #9c85cc 140.56%);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.8rem 1.2rem 0rem 1.5rem;

    .image-148-6Pt {
      margin: 0rem 0.8rem 0.7rem 0rem;
      width: 6rem;
      height: 6.3rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.5rem;
      flex-shrink: 0;
    }
    .auto-group-jyye-QfU {
      width: 19.3rem;
      height: calc(100% - 5.4rem);
      flex-shrink: 0;
      margin: 2.5rem 2.4rem 2.9rem 0rem;

      .calling-spider-man-across-L3L {
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
      }
      .metro-boomin-swae-lee-nav-a-boogie-with-da-sJA {
        font-family: Quicksand, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 1.25;
        color: #ffffff;
      }
    }
    .mask-group-C5Y {
      margin: 0rem 6rem 1rem 0rem;
      width: 3rem;
      height: 3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-cvca-KAA {
      flex-shrink: 0;
      margin-right: 18rem;
      width: 30rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-83-4dY {
        margin: 0rem 0.6rem 1.5rem 0.5rem;
        width: calc(100% - 1.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .mask-group-arn {
          flex-shrink: 0;
          margin-right: 4rem;
          width: 3rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .mask-group-v9x {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.9416rem;
          width: 2.9584rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
        }
        .mask-group-3kN {
          flex-shrink: 0;
          margin-right: 2.5rem;
          width: 5rem;
          height: 5rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .mask-group-Bra {
          margin-right: 4.0416rem;
          width: 2.9584rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .mask-group-Kxn {
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 2.5rem;
          height: 2.5rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .group-70-fmk {
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: flex-end;
        display: flex;

        .auto-group-tyar-dTg {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 30rem;
          height: 0.7rem;
        }
        .auto-group-kkvc-n5g {
          margin-left: 0.1rem;
          width: calc(100% - 0.1rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item-1-29-vSn {
            line-height: 1.25;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 26.8rem;
            text-align: center;
            font-size: 0.7838rem;
            font-weight: 700;
            color: #ffffff;
          }
          .item-3-39-Svv {
            line-height: 1.25;
            color: #ffffff;
            font-family: Quicksand, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 0.7838rem;
            font-weight: 700;
          }
        }
      }
    }
    .mask-group-aXL {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 3rem 0.6rem 0rem;
      width: 2.1rem;
      height: 3rem;
    }
    .group-72-Wft {
      margin: 2.2rem 2.6rem 3rem 0rem;
      height: calc(100% - 5.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .mask-group-e1Q {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-hcne-BX8 {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 6.1rem;
        height: 0.6rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .mask-group-KNS {
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.6rem;
      width: 3rem;
      height: 3rem;
    }
  }
}
