
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 33.2rem;
}.group-51-X1C {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.9rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  white-space: nowrap;
  background-color: #1e1e1e;
  border-radius: 2rem;
  width: 100%;
  line-height: 1.25;
  font-family: Quicksand, 'Source Sans Pro';
}
