
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 33.2rem;
}.group-52-VWz {
  display: flex;
  flex-direction: column;
  width: 100%;

  .olvide-mi-contrasea-eug {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.25;
    color: #333333;
    flex-shrink: 0;
    margin-bottom: 1.35rem;
    text-decoration-line: underline;
    font-family: Quicksand, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
  }
  .auto-group-67zr-a2e {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 28.9rem;
    width: 100%;

    .recordar-usuario-iPk {
      font-weight: 700;
      line-height: 1.25;
      color: #333333;
      font-family: Quicksand, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 20.5rem;
      font-size: 1.1rem;
    }
    .group-48-Fea {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.1rem;
      width: 3.3rem;
      height: 1.7rem;
      object-fit: contain;
    }
  }
  .no-tienes-una-cuenta-registrate-nuQ {
    flex-shrink: 0;
    white-space: nowrap;
    align-items: baseline;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.25;
    color: #333333;
    font-family: Quicksand, 'Source Sans Pro';
    display: flex;
    width: 100%;
    text-align: center;

    .no-tienes-una-cuenta-registrate-nuQ-sub-0 {
    }
    .no-tienes-una-cuenta-registrate-nuQ-sub-1 {
      font-weight: 700;
      line-height: 1.25;
      text-decoration-line: underline;
      color: #333333;
      font-family: Quicksand, 'Source Sans Pro';
      font-size: 1.1rem;
    }
  }
}
