
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32.9rem;
}.group-68-xki {
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 0.8rem 10.705rem 1rem 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ef5466;

  .auto-group-ve1x-J3t {
    background-color: #ffffff;
    border-radius: 1.9rem;
    flex-shrink: 0;
    margin-right: 1.9946rem;
    box-sizing: border-box;
    padding: 0.7rem 0.6rem;
    height: 3.8rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .image-50-2Vg {
      width: 2.6rem;
      height: 2.4rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .group-1-vqx {
    margin-top: 0.0578rem;
    width: 14.7rem;
    height: 1.8rem;
    position: relative;
    flex-shrink: 0;

    .continuar-con-google-sWJ {
      left: 0;
      top: 0;
      font-weight: 700;
      color: #ffffff;
      white-space: nowrap;
      width: 14.7rem;
      height: 1.8rem;
      position: absolute;
      font-size: 1.4rem;
      line-height: 1.25;
      font-family: Quicksand, 'Source Sans Pro';
    }
    .continuar-con-google-mra {
      left: 0;
      top: 0;
      line-height: 1.25;
      color: #ffffff;
      font-family: Quicksand, 'Source Sans Pro';
      width: 14.7rem;
      height: 1.8rem;
      font-weight: 700;
      white-space: nowrap;
      position: absolute;
      font-size: 1.4rem;
    }
  }
}
