
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32.9rem;
}.group-67-wnz {
  box-sizing: border-box;
  padding: 0.9rem 8.905rem 0.9rem 1.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ef5466;
  border-radius: 1rem;
}
.group-67-wnz .auto-group-x7rs-Unv {
  margin-right: 1.9946rem;
  box-sizing: border-box;
  padding: 0.6rem;
  height: 3.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.9rem;
  flex-shrink: 0;
}
.group-67-wnz .auto-group-x7rs-Unv .image-57-RCN {
  width: 2.6rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
}
.group-67-wnz .continuar-con-facebook-wAi {
  margin-bottom: 0.1441rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Quicksand, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
